/* line 22, ../../../sass/userJourney.scss */
.userJourney > ul > span {
  align-items: center;
  display: flex;
  flex-direction: column;
}
/* line 27, ../../../sass/userJourney.scss */
.userJourney > ul > span > li:first-child > p::after {
  display: none;
}
/* line 32, ../../../sass/userJourney.scss */
.userJourney ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
}
/* line 40, ../../../sass/userJourney.scss */
.userJourney ul li {
  display: flex;
  flex-direction: row;
  list-style: none;
}
/* line 45, ../../../sass/userJourney.scss */
.userJourney ul li.multiChild {
  position: relative;
}
/* line 48, ../../../sass/userJourney.scss */
.userJourney ul li.multiChild ul {
  margin: 0;
}
/* line 53, ../../../sass/userJourney.scss */
.userJourney ul li.multiChild ul:first-child::before, .userJourney ul li.multiChild ul:first-child::after, .userJourney ul li.multiChild ul:last-child::before, .userJourney ul li.multiChild ul:last-child::after {
  width: 50%;
}
/* line 60, ../../../sass/userJourney.scss */
.userJourney ul li.multiChild ul:first-child::before, .userJourney ul li.multiChild ul:first-child::after {
  margin-right: 0;
}
/* line 66, ../../../sass/userJourney.scss */
.userJourney ul li.multiChild ul:last-child::before, .userJourney ul li.multiChild ul:last-child::after {
  margin-left: 0;
}
/* line 74, ../../../sass/userJourney.scss */
.userJourney ul li > ul {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 79, ../../../sass/userJourney.scss */
.userJourney ul li > ul::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -11px;
  height: 1px;
  width: auto;
  top: 0;
}
/* line 86, ../../../sass/userJourney.scss */
.userJourney ul li > ul::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -11px;
  height: 1px;
  width: auto;
  bottom: 0;
}
/* line 94, ../../../sass/userJourney.scss */
.userJourney ul li p {
  display: inline-block;
  width: 155px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}
/* line 103, ../../../sass/userJourney.scss */
.userJourney ul li p::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -11px;
}
/* line 106, ../../../sass/userJourney.scss */
.userJourney ul li p::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -11px;
}
